{% extends "main/base.html" %}

{% block title %}Connect{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mypanel">

    <h2 class=""> Rejestracja na wydarzenie {{ instance.Event_Name }}    </h2>
    <form method="post">
    {% csrf_token %}
        {{ form|crispy }}

        {% if small_events %}

           Opisy Pomniejszych wydarzen:
             <br>
            {% for o in small_events %}
                <div class="form">
                    <input type="checkbox" value="{{ o.id }}" name="events">     {{ o.SmallEvent_Name }}
                    <div class="element">    {{ o.SmallEvent_Description }}    </div>
                </div>
            {% endfor %}

        {% endif %}
    <button type="submit" class="btn btn-success">Wyslij</button>
    </form>
        <div style="float: none;"></div>
</div>
{% endblock %}
