body{
    background-color: #4a555d;

}

.form{
    float: left;
}
.nav{
    color:whitesmoke;
}
.container{
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: aliceblue;
    margin-top: 5%;
    border-radius: 20px;
}
.element{

    width: 400px;
}
.register{
    margin: auto;
    width: 400px;
    padding-top: 30px;

}

header a{
    text-decoration: none;
}

.mainContainer{
    background-color: aliceblue;
    text-align: center;

    border-radius: 20px;

}

.events{
    color:black;
    text-decoration: none!important;
}

.eventsMain{
    text-align: center;
}

.eventdata{
    margin: 10px;

}

.opinion{
    margin: 10px;

    padding: 10px;
}
.opiniontext{
    margin: 10px;
}

.editOpinion{
    width: 50%;
    margin: auto;
    text-align: center;
}

.mypanel{

    margin: auto;
    text-align: center;
    width: 50%;
}

a{
   color:black;
    text-decoration: none!important;
}

#sticky-footer {
    text-align: center;
    margin-top: 16%;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
    }
    button {
        ;
    }
}