{% extends "main/base.html" %}

{% block title %}Connect{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
     <h1>Podgląd zamówienia</h1>
    {% for i in order %}
        Imie zamawiającego: {{ i.User_name }}
        <br>
    Nazwisko zamawiającego: {{ i.User_surname }}
    {% endfor %}
    <br>
    <h2>Twoje wydarzenie:</h2>
    <div class="">Nazwa: {{ instance.Event_Name }}    </div>
    <div class="">Data rozpoczęcia: {{ instance.Event_Start_Date }}    </div>
    <div class="">Godzina rozpoczęcia: {{ instance.Event_Start_Time }}    </div>
    <div class="">Data zakończenia: {{ instance.Event_End_Date }}    </div>
    <div class="">Godzina zakończenia: {{ instance.Event_End_Time }}    </div>
    <div class="">Opis: {{ instance.Event_Description }}    </div>
    <div class="">Program: {{ instance.Event_Program }}    </div>
    <button class="btn btn-success" onclick="window.location.href='/events/addopinionevent/{{ instance.id }}'">
            Dodaj opinie do wydarzenia
        </button>
    <h2>Twoje Eventy:</h2>
    {% for i in miniorder %}
        <div>
        Nazwa eventu: {{ i.SmallEvent.SmallEvent_Name }}<br>

        </div>
        </div>
    {% endfor %}
{% endblock %}
